.makeStyles-root-1 {
    width: 1300px;
    height: 507px;
    margin-top: 6px;
    margin-left: 30px;
}

.MuiPaper-elevation1 {
    box-shadow: 4px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 3px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12) !important;
}

.masterStyleCard {
    display: flex;
    height: 100%;
}

.bannerStyle {
    width: 50%;
    background: #b1b1b1;
}

.txtStyleCard {
    padding: 132px 0px 0px 212px;
}

.btnStyleCard {
    width: 196px;
    height: 55px;
    border: none;
    background: burlywood;
}

.btn-Stye-Card {
    margin-top: 41px;
}

.lgn-btn-style {
    padding: 10px 0px 0px 469px;
    width: 100%;
}

.lgn-style {
    width: 141px;
    height: 46px;
    border: none;
    background: burlywood;
}