.main-div-frst {
    justify-content: center;
    align-items: center;
    display: grid;
    border-radius: 10px;
    width: 45%;
    margin-left: 376px;
    height: 324px;
    box-shadow: 2px 0px 10px 9px #eae6e6;
    margin-top: 10px;
    padding-top: 19px;
}

.btn-frst {
    justify-content: center;
    align-items: center;
    display: flex;
}

.disp-tble {
    justify-content: center;
    align-items: center;
    display: grid;
    margin-top: 16px;
}